<h1>Add a New Collectable!</h1>

<form class="" action="/collectables" method="post">
<label for="name">Name:</label>
<input type="text" id="name" name="name" value="">
<label for="description">Description:</label>
<input type="text" id="description" name="description" value="">
<label for="image_url">Image URL:</label>
<input type="text" id="image_url" name="image_url" value="">
<br><br>
<label for="initial_cost">Initial Cost:</label>
<input type="integer" id="initial_cost" name="initial_cost" value="">
<label for="current_appraisel">Current Appraisel Value:</label>
<input type="integer" id="current_appraisel" name="current_appraisel" value="">
<input type="submit" name="" value="Add New Collectable">
</form>